<div class="content" role="main">
    <div class="services_section layout_padding">
       <div class="container">
         <div class="row">
           <div class="col-md-8">
             
             <h1 style="align-content: center; text-align:center;color: #2596be;"><b>Welcome To FinoVate</b></h1>
             <br>
             <h2>“The best way to measure your investing success is not by whether you’re beating the market but by whether you’ve put in place a financial plan and a behavioral discipline that are likely to get you where you want to go.”  </h2>
             <h2> &nbsp; &nbsp; &nbsp;- Benjamin Graham</h2>
             <h3><p class="services_text"> Here we are presenting a smart engine aimed to help our users simplify their financial investment decisions based on companies past performance evaluation </p> </h3>
             <br/> 
             <br/>
           </div>
           <div class="moremore_bt"></div>
           <table>
            <tr>
              <td>
                <div class="col-md-3">
                  <form class="example-form">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Username" value="Username">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                      <input matInput type="password" placeholder="Password" value="Password" >
                    </mat-form-field>
                  </form>
                <button class="button-33" role="button"   routerLink="/summarization"> Login</button>
                  
                </div>
              </td>
              <td>
                <div class="col-md-4">
             <div><img src="img-1.png" ></div>
           </div>
              </td>
            </tr>
           </table>
           
           
   
           
         </div>
       </div>
     </div>
     <!-- HTML !-->
   
   </div>
   
   <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
   <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
   <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
   <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
   <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
   <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
   <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->