<div class="content" role="main">
  <div class="services_section layout_padding">
     <div class="container">
       <div class="row">
         
         <div class="moremore_bt"></div>
         
       </div>
     </div>
   </div>
   <!-- HTML !-->
 
 </div>

<div style="text-align: center;">
  <input type="file" class="file-input"
  (change)="onFileSelected($event)" #fileUpload>

  <div class="file-upload" style="border-style: dotted;margin-left: 20%;margin-right: 20%;">
    Upload financial report!<br><br/>
    <button mat-mini-fab color="primary" class="upload-btn"
    (click)="fileUpload.click()">
      <mat-icon>file_upload</mat-icon>
    </button><br>
    {{fileName || "No file uploaded yet."}}
  </div>
  <br>
  <div *ngIf="showLoader">
    <mat-spinner class="mat-spinner" ></mat-spinner>
    <br />
    Analyzing...
  </div>
  
  <div *ngFor="let summary of summaryList, let i = index">
    <br>
    <mat-card>
      <mat-card-content>
        <span *ngIf="i != size">Summary Page: {{i+1}}</span>
        <span *ngIf="i == size">Conclusion</span>
        <div [innerHTML]="summary"></div>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <br>
    <button name = "history" class="button-35" *ngIf="this.isButtonVisible" role="button"> Save Summary</button>
  </div>
</div>


   <!-- HTML !-->
 

 
 <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
 <!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
 <!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
 <!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
 <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
 <!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
 <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
 

 